/* You can add global styles to this file, and also import other style files */

@use 'simple-keyboard/build/css/index' as *;
@use '@angular/cdk/overlay-prebuilt.css' as *;
@use '../../systelab-virtual-keyboard/scss/default-theme' as *;

:root {
    --systelab-virtual-keyboard-font-family: Lato, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.systelab-virtual-keyboard__backdrop {
    backdrop-filter: saturate(30%);
    transition: all .3s !important;
}

.systelab-virtual-keyboard__panel {
    background-color: var(--slab_background_primary);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    border-radius: 7px;
    overflow: hidden;
    transition: all .5s;

    &:not(.fullscreen) {
        animation: scaleUp .2s;
    }

    // avoid animation in firefox because it produces an unpleasant flickering effect
    @-moz-document url-prefix() {
        &:not(.fullscreen) {
            animation: none;
        }
    }

    &.fullscreen {
        border: 0;
        border-radius: 0;
    }

    & > *:first-child {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
    }
}

/* Animations
  ========================================================================== */
@keyframes scaleUp {
    0% {
        transform: scale(.8) translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

.hg-theme-default {
    .hg-button {
        height: 55px;
    }
}

.systelab-virtual-keyboard__show-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    font-size: 20px;
}

.wdio-disable-animations {
    &,
    * {
        transition: none !important;
        animation: none !important;
    }
}
