:host {
    width: 100%;
}

.systelab-virtual-keyboard-theme {
    font-family: var(--systelab-virtual-keyboard-font-family);
    background-color: #B2B2B2;

    .hg-row {
        .hg-button {
            box-sizing: border-box;
            height: 65px;
            min-width: 93.75px;
            max-width: none !important;
            border-radius: 10px;
        }
    }

    &.hg-layout-shift,
    &.hg-layout-alpha-numeric,
    &.hg-layout-alpha-numeric-uppercase,
    &.hg-layout-alpha-numeric-uppercase-shift {
        .hg-row {
            &:first-child .hg-button {
                height: 50px;
            }
        }
    }

    .virtual-keyboard-delete-button,
    .virtual-keyboard-enter-button,
    .virtual-keyboard-function-button {
        background-color: #E5E5E5;
        &:first-child {
            justify-content: flex-start;
            align-items: flex-end;
            padding-left: 15px;
            padding-bottom: 15px;
        }
        &:last-child {
            justify-content: flex-end;
            align-items: flex-end;
            padding-right: 15px;
            padding-bottom: 15px;
        }
    }

    .virtual-keyboard-lock-active,
    .virtual-keyboard-shift-active {
        background-color: #4D4D4D;
        color: #FFFFFF;
    }
}
