<section class="main-container">
  <div class="input-container">
    <input class="input" type="text" placeholder="Alphanumerical keyboard" [vkEnabled]="true">
  </div>

  <div class="input-container">
    <input class="input" type="number" placeholder="Numeric keyboard" vkEnabled>
  </div>

  <div class="input-container">
    <input class="input" type="number" placeholder="Numeric input default layout" vkEnabled [vkConfig]="vkConfigLayout">
  </div>

  <div class="input-container">
    <input class="input" type="number" placeholder="Show button" vkEnabled [vkConfig]="vkConfigButton">
  </div>

  <div class="input-container">
    <input class="input" type="text" placeholder="Fixed bottom keyboard" vkEnabled vkFixedBottom>
  </div>
</section>
