.main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    padding-top: 200px;
    touch-action: pan-y !important;
    z-index: 0;
    height: 200vh;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 400px;
    margin-bottom: 15px;
}

.input {
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #C4D1EB;
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0 #E2E2E2;
    transition: .3s ease;

    &:focus {
        background: #F2F2F2;
        border: 1px solid #5A7EC7;
        border-radius: 10px;
    }

    &::placeholder {
        color: #DDDDDD;
    }
}
