<section class="main-container">
  <h1>Virtual Keyboard Showcase</h1>

  <div id="alphanumeric-field" class="input-container">
    <input class="input" type="text" placeholder="Alphanumerical keyboard" [vkEnabled]="true">
  </div>

  <div id="numeric-field" class="input-container">
    <input class="input" type="number" placeholder="Numeric keyboard" vkEnabled>
  </div>

  <div id="numeric-default-layout-field" class="input-container">
    <input class="input" type="number" placeholder="Numeric input default layout" vkEnabled [vkConfig]="vkConfigLayout">
  </div>

  <div id="show-button-field" class="input-container">
    <input class="input" type="number" placeholder="Show button" vkEnabled [vkConfig]="vkConfigButton">
  </div>

  <div id="fixed-bottom-field" class="input-container">
    <input id="fixed-bottom-input" class="input" type="text" placeholder="Fixed bottom keyboard" vkEnabled vkFixedBottom>
  </div>
</section>
